.thumbnails {
  display: flex;
  gap: var(--space-8);
  flex-wrap: wrap;
  justify-content: center;
  margin-top: var(--space-12);
}

.thumbnail {
  width: 80px;
  height: 50px;
  border-radius: var(--radius-4);
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform var(--transition-fast), border var(--transition-fast);
}

.thumbnail:hover {
  transform: scale(1.05);
}

.activeThumbnail {
  border: 2px solid var(--color-success);
}
