.cardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  padding: var(--space-16);
  min-width: 25rem;
  max-width: 50rem;
  box-sizing: border-box;
  border-radius: var(--radius-4);
  overflow-x: auto;
}
