.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-16);
  margin-top: var(--space-24);
}

.cancel {
  background-color: var(--color-gray-600);
  border: none;
  padding: var(--space-8) var(--space-16);
  cursor: pointer;
}

.cancel:hover {
  background-color: var(--color-gray-700);
}

.confirm {
  background-color: var(--color-danger);
  color: var(--color-white);
  border: none;
  padding: var(--space-8) var(--space-16);
  cursor: pointer;
}

.confirm:hover {
  background-color: darkred;
}
