.navbar {
  background-color: #616161;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 10px;
}

.navbarList ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 4rem;
}

.siteTitle {
  font-size: 2rem;
  color: inherit;
  text-decoration: none;
}

.navbarList a {
  color: inherit;
  text-decoration: none;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cartIcon {
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}


.loggedActions {
  display: flex;
  align-items: center;
  gap: 1rem; 
}
